<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.facebook.com/yasas.ekanayaka"><i class="fa f fa-facebook"></i></a></li>
                    <li><a href="https://github.com/YasasDEK"><i class="fa f fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/yasas-dilshan-ekanayaka"><i class="fa f fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/yasas_ek/"><i class="fa f fa-instagram"></i></a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Created by <i class="nc-icon nc-sound-wave"></i> Yasas Ekanayaka
                </span>
            </div>
        </div>
    </div>
</footer>
    